

<h2>カテゴリ</h2>
 
      <%= link_to image_tag("#{@product.image}", alt: "#{@product.product_name_ja}"), product_path(@product.id) %>

        <h3><%= link_to "#{@product.product_name_ja}", product_path(@product.id) %></h3>
        <p><%= @product.text %></p>
<br>
<br>
<br>
 <a href="/products/<%= @product.id%>/reviews/new/" class="btn btn-primary" role="button">口コミを投稿する</a>
<br>
<p><h3>★レビューを表示★</h3></p>
<br>
<% @product.reviews.each do |review| %>
<h4><%= review.username %><h4>
<p><%= review.review %></p>
<% end %>
<p>---口コミ1---</p>
<br>
<br>
<p>---口コミ2---</p>
<br>
<br>
<p>---口コミ3---</p>
