<!DOCTYPE html>
<html>
<head>
  <title>Lesson2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
   <% if user_signed_in? %>
   <a href="/users/<%= current_user.id %>"><%= current_user.username %>のマイページ</a>
   <br>
  <button type="button" class="btn btn-default navbar-btn">Sign out</button>
  <% else %>
<button type="button" class="btn btn-default navbar-btn">Sign in</button>
<button type="button" class="btn btn-default navbar-btn">Register</button>

 <% end %>

<%= yield %>


</body>
</html>
